extends layout

block content
	include partials/nav
	#front
		.content
			h1 Take Flight To New Heights
			h3 With The Friendliest Pilots In Florida
	.left-poly
	section
		.container
			h1 The Balloonatic is located in Orlando, Florida. The world's favorite vacation destination.
			a#cta-button(href='#') Fly With Us
	.right-poly
	#safety
		.content
			h1 Safety Is Our #1 Priority
			h3 We Take Every Safety Precaution To Guarantee A Safe Flight
	.left-poly
	section
		.container
			h1 The Balloonatic puts its emphasis on providing you a safe, fun, and exciting adventure that you will remember for years to come. 
			h3 Our years of experience and spotless safety record will assure you of just that.
	.right-poly
	#about
		.content
			h1 The Balloonatic is owned and operated by veteran pilot, Ken Shumate.
			h3 Ken has been flying hot air balloons for over 27 years and has logged over 2000 hours in the air.
	.left-poly
	section
		.container
			div#pic
			h1 Ken is also a certified flight instructor and has trained over 45 new pilots. He has flown balloons of all shapes and sizes.
	.right-poly
	#contact
		.content
			h1 Call now to schedule a flight with The Balloonatic!
			h3 The Balloonatic stays very busy flying his balloons so don't worry if you don't reach us right away.
	.left-poly
	.right-poly2
	#contact-details
		section
			.container
				i.fa.fa-1x.fa-phone 
				h3 
					a(href='tel:321-287-4466') (321) 287-4466
				i.fa.fa-1x.fa-envelope
				h3
					a#email(href='mailto:theballoonatic@juno.com') theballoonatic@juno.com
	include partials/footer