extends layout

block content
	include partials/nav
	.alt-content
		br
		section
			.container
				h1 You’ll enjoy the morning air as you watch the beauty of the balloon take shape and prepare for flight. 
				h3 Your adventure continues as you step into the basket and begin your trip above the tree tops. After touch down you’ll enjoy a champagne toast as you and the crew talk about the flight.
		.container
			.card
				h1 $175
				h1.price-icon
					i.fa.fa-user
				p.price-description Per single rider (May be with other riders)
			.card
				h1 $325
				h1.price-icon
					i.fa.fa-user
					i.fa.fa-user
				p.price-description Per couple riders (May be with other riders)
			.card
				h1 $475
				h1.price-icon
					i.fa.fa-user
					i.fa.fa-user
				p.price-description Per couple riders (Guaranteed basket to yourselves)
	.left-poly
	.right-poly2
	section.alt
		.container
			h1 Ages 8 to 80+ can enjoy the ride and we can accommodate parties up to 100+ with weight restrictions.
			h3 Contact us today to book your flight!
			a#cta-button2(href='/#contact') Contact Us
	include partials/footer
